:root {
    font-size: 18px;
    --text-color: #0d0d0d;
}

body {
    width: 100%;
    position: relative;
}

.no-display {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/* top spacing */

.margin-top-5 {
    margin-top: 5rem;
}

.margin-top-10 {
    margin-top: 10rem;
}

.margin-top-15 {
    margin-top: 15rem;
}

.margin-top-20 {
    margin-top: 20rem;
}

/* window width */
.view-fit {
    padding-inline: 17.5%;
}
@media screen and (max-width: 1440px) {
    .view-fit {
        padding-inline: 12.5%;
    }
}
@media screen and (max-width: 1024px) {
    .view-fit {
        padding-inline: 10%;
    }
}

.btn-link {
    display: inline-block;
    padding: .5rem 4rem;
    border-radius: 10px;
    background-color: white;
    border-bottom: 5px solid rgb(136, 136, 85);
    cursor: pointer;
}

.btn-link:focus {
    outline-offset: 5px;
    border: none;
}

.skip {
    display: none;
}